.header {
    grid-area: header;
    height: 33px;
    background: var(--gray-panel-color);
    border-bottom: 1px groove var(--border-color);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerSearch {
    background: var(--dark-gray-element);
    height: 45px;
    width: 200px;
    border-radius: 20px;
    align-content: center;
    padding-left: 20px;
}

.headerSearch input {
    width: 180px;
    height: 30px;
    background: var(--dark-gray-element);
    border: none;
    color: var(--font-color);
    font-size: var(--font-size);
    outline: none;
}

.headerSearch input:focus::placeholder {
    color: var(--dark-gray-element);
}

.previousSearchesPanel {
    position: absolute;
    width: 340px;
    max-height: 380px;
    height: auto;
    min-height: 60px;
    z-index: 999;
    overflow: auto;
    top: 54px;
    left: 10px;
    /*border-radius: 10px;*/
    background: var(--dark-gray-element);
    border: 1px groove var(--border-color);
}

.previousSearchesPanelTitle {
    margin: 5px;
    font-size: 20px;
    color: var(--font-darker-color);
}

.previousSearch {
    background: var(--gray-panel-color);
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    padding-left: 10px;
}

.feedTypeSelection {
    background: var(--dark-gray-element);
    height: 45px;
    width: auto;
    border-radius: 10px;
    align-content: center;
    padding: 0 20px 0 20px;

    text-align: center;

    display: flex;
    flex-direction: row;
}

.feedTypeSelectionButton {
    width: 160px;
    align-content: center;
    border-radius: 5px;
    background: var(--dark-gray-element);
    color: var(--font-color);
    font-size: var(--font-size);
    border: none;
}

.feedTypeSelectionButtonSelected {
    border-bottom: 5px groove #225bec;
    border-top: 5px solid var(--dark-gray-element);
    color: #225bec;
    font-weight: bold
}

.feedTypeSelectionButton:hover {
    background: var(--light-hover-color);
    border-top: 5px solid var(--light-hover-color);
}

.headerRoundIconMenu {
    height: 45px;
    width: 200px;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.roundIconButton {
    background: #0e0e10;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    align-content: center;
    text-align: center;
    margin: 0 2px;
}

.roundIconButton:hover {
    background: var(--light-hover-color);
}