:root {
    --background-color: #17171a;
    --gray-panel-color: #29292c;
    --border-color: #35383a;
    --dark-gray-element: #0e0e10;
    --body-color: #141417;
    --post-color: #424244;
    --dark-font-color: #0f1010;
    --light-hover-color: #3d3d3d;
    --font-color: #dcdbd7;
    --font-darker-color: #b7b6b0;
    --font-size: 16px;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--background-color);
    overflow: hidden;
    color: var(--font-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
}

#root {
    height: 100%;
}

.layout {
    display: grid;
    grid:
    "header header header" auto
    "leftSide body rightSide" 100%
    / auto 1fr auto;

    height: 100%;
}


.leftSide {
    grid-area: leftSide;
    background: var(--background-color);
    width: 360px;
    overflow: hidden;
}

.shortcut {
    background: var(--dark-gray-element);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.shortcut:hover {
    background: var(--light-hover-color);
}

.body {
    grid-area: body;
    background: var(--body-color);
    overflow: scroll;
    padding: 10px;
    max-height: 100%;
}

.feed {
    padding: 10px;
    background: var(--gray-panel-color);
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.post {
    min-height: 120px;
    height: auto;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    background: var(--post-color);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-radius: 10px;
}

.rightSide {
    grid-area: rightSide;
    width: 360px;
    overflow: hidden
}

.contacts {
    padding: 10px;
}

.contactsHeader {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--font-darker-color);
}

.contact {
    height: 50px;
    align-content: center;
    padding-left: 10px;
    border-radius: 10px;
}

.contact:hover {
    background: var(--light-hover-color);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;

    font-size: 12px;

}

.footer button {
    background: var(--background-color);
    border: unset;
    color: var(--font-color);
}